libSharpMod
/source/ApiTrackers/ApiTrackers/bin
/source/ApiTrackers/ApiTrackers/obj
/source/ApiTrackers/.vs

/source/TestClientTrackers/ClientTest_APITrackers/bin

/source/ApiTrackers/ApiTrackers/SMTPClient/MailConfig.json